.contact {
  padding: 50px 20px;
  text-align: center;
  color: #f103f5;
  background-color: rgb(15, 15, 15);
}

.contact h2 {
  color: rgb(249, 225, 7);
  font-size: 40px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.contact-details {
  flex: 1 1 300px;
  text-align: left;
}

.contact-details p {
  margin: 10px 0;
  font-size: 1.1rem;
  
}

.contact-link {
  color: #e4eb09 !important;       
  text-decoration: none !important;
  font-weight: bold;
  transition: color 0.3s;
}

.contact-link:hover {
  color: #ffffff !important;
}

.contact-socials {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.contact-socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #00ff9d;       
  color: #0d0d0d;            
  font-size: 1.3rem;
  transition: transform 0.3s;
}

.social-btn.facebook  { background: #3b5998; color:white}
.social-btn.instagram { background: #e1306c; color:white}
.social-btn.youtube   { background: #ff0000; color:white}
.social-btn.iticket   { background: #ff9800; color:white}



.contact-socials a:hover {
  transform: scale(1.1);
}

.contact-map {
  flex: 1 1 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto 0;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  border: 2px solid #00ff9d;
  border-radius: 8px;
  background: #0d0d0d;
  color: #fff;
}

.contact-form button {
  padding: 0.7rem;
  background: #00ff9d;
  border: none;
  border-radius: 8px;
  color: #0d0d0d;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #00e5ff;
}

