
/* .hero-img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  filter: brightness(0.6);
} */

/* .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  color: #ffea06;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
  color: #ff00d4;
  margin-bottom: 1.5rem;
}

.features {
  padding: 3rem 1rem;
  text-align: center;
}

.features h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #f9f105;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.feature-card {
  background-color: #111111;
  border: 2px solid #00ff9d;
  border-radius: 16px;
  padding: 1rem;
  width: 220px;
  transition: transform 0.3s, border-color 0.3s;
}

.feature-card:hover {
  transform: scale(1.05);
  border-color: #ff3c78;
}

.feature-card h3 {
  color: #00ff9d;
  margin-bottom: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feature-card p {
  font-size: 0.9rem;
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  .feature-cards {
    flex-direction: column;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
} */



/* ///////////////////////////////////////////////// */

.home-page {
  font-family: 'Fredoka', sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
}


.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 95%;
  height: auto;
  position: inherit;
  top: 50px;
  border-radius: 20px;
  box-shadow: 0 0 5px red, 0 0 3px 3px red;
}

.h2-bine {
  position: relative;
  top: 20px;
  padding: 20px;
  margin: 20px ;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ff00d4;
}

 /* ////////////////////////////////////////////// */
 