.footer {
  background: #000;
  color: #fff;
  padding: 30px 0;
  bottom: 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.footer-left h3 {
  margin: 0 0 5px;
  
}

.footer-right {
  display: flex;
  gap: 15px;
}




/* //////////////////////////// */
.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  /* transition: all 0.3s ease; */
  cursor: pointer;
    /* margin: 0 8px; */

  /* transition: transform 0.2s, color 0.2s, filter 0.2s; */
}

/* Culori inițiale */
/* .facebook  { background: #3b5998; }
.instagram { background: #e1306c; }
.youtube   { background: #ff0000; }
.iticket   { background: #ff9800; } */

.social-btn.facebook  { color: #3b5998; }
.social-btn.instagram { color: #e1306c; }
.social-btn.youtube   { color: #ff0000; }
.social-btn.iticket   { color: #ff3c78; }
.social-btn.tiktok    { color: #f6f4f5; background-color: rgb(0, 0, 0);}


/* Hover efect: să sară un pic și să fie mai estompate */
/* .social-btn:hover {
  transform: translateY(-4px) scale(1.15);
  opacity: 0.85;
} */
.social-btn:hover {
  transform: scale(1.2);
}
.social-btn:hover {
  filter: drop-shadow(0 0 6px currentColor) drop-shadow(0 0 12px currentColor);
}

