
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #0d0d0d;
  position: relative;
  position: absolute;
}

.neon-time-logo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  left: 20px;
  box-shadow: 0 0 20px 10px rgb(247, 0, 255);
}

/* Logo */
/* .logo {
  font-size: 22px;
  font-weight: bold;
  color: #ff3c78;
} */
.logo a {
  text-decoration: none;
  color: inherit;
}

/* Pagini */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-link {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s ease, color 0.3s ease;
  color: white;
}
.nav-link:hover {
  background: #b3ff00;
  color: rgb(255, 0, 195) !important;
}
.nav-link.active:hover {
  background: #ffff00;
  color: #0d0d0d !important;
}

/* Culori diferite pentru fiecare pagină */
.nav-links li:nth-child(1) a { color: #ff3c78; } /* Acasă */
.nav-links li:nth-child(2) a { color: #ffff00; } /* Despre */
.nav-links li:nth-child(3) a { color: #00ff9d; } /* Servicii */
.nav-links li:nth-child(4) a { color: #00e5ff; } /* Galerie */
.nav-links li:nth-child(5) a { color: #ff9d00; } /* Contact */
.nav-links li:nth-child(6) a { color: #26ff00; } /* Rezervare */

/* Burger */
.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.line {
  width: 25px;
  height: 3px;
  background: rgb(220, 235, 7);
  transition: all 0.3s ease;
  /* right: 20px; */
}

/* Mobile */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #222;
    padding: 15px;
    border-radius: 10px;
  }

  .nav-links.open {
    display: flex;
  }
}
